:root {
    --font: "Raleway", sans-serif;
    --size-quote: 95px;
    --dark-background: #03001e;
    --yellow: #feac5e;
    --purple: #c779d0;
    --blue: #4bc0c8;
    --white: #ffffff;
    --violet: #9c6cebf3;
    --light-yellow: #fbd485;
    --pink: #ef629f;
    --light-blue: #20bdff;
    --opacity: 60%;
    --card-background: #26243b;
}