a.navbar-brand {
    color: var(--white);
  }
  
  a.nav-link {
    color: var(--white);
    opacity: 80%;
  }
  
  nav.navbar {
    z-index: 1000;
    position: fixed;
    background: rgba(129, 46, 148, 0.178);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.02);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(7px);
    border: 1px solid rgba(255, 255, 255, 0.02);
  }
  
  div.nav-font {
    font-weight: 500;
    font-size: 15px;
    color: var(--white) ;
  }
  li.work-link {
    margin-left: 19rem;
  }
  
  a.work-link-color {
    color: var(--white) ;
  }

  section {
      font-size: 30px;
      font-weight: 700;
      animation: floating 3s cubic-bezier(0.37, 0, 0.63, 1) infinite;
      
  }
  .title {
      animation: tilting 1s cubic-bezier(0.37, 0, 0.63, 1) infinite;
  }
  section span {
      transition: font-weight 0.4s ease-in;
      animation: floating-secondary 2.5s cubic-bezier(0.37, 0, 0.63, 1) infinite;
  }
  section span:nth-child(1) {
      animation-delay: 1s;
  }
  section span:nth-child(2) {
    animation-delay: 2s;
}
section span:nth-child(3) {
    animation-delay: 3s;
}
section span:nth-child(4) {
    animation-delay: 4s;
}
section span:nth-child(5) {
    animation-delay: 5s;
}
section span:nth-child(6) {
    animation-delay: 6s;
}
section span:nth-child(7) {
    animation-delay: 7s;
}

section span:hover {
    font-weight: 100;
}

@keyframes floating {
    0% {
        transform: translate(0, 0);
    }
    50% {
        transform: translate(0, 1vh);
    }
    100% {
        transform: translate(0, 0);
    }
}
@keyframes floating-secondary {
    0% {
        transform: translate(0, 0);
    }
    50% {
        transform: translate(0, 1vh);
    }
    100% {
        transform: translate(0, 0);
    }
}
@keyframes tilting {
    0% {
        transform: rotate(1deg);
    }
    50% {
        transform: rotate(-1deg);
    }
    100% {
        transform: rotate(1deg);
    }
}


.js  {
    animation: floating-secondary 2.5s cubic-bezier(0.99, 0, 0.63, 2) infinite;
}
.code {
    animation: floating 3s cubic-bezier(0.77, 1, 0.99, 5) infinite;
}
.github {
    animation: floating 3s cubic-bezier(0.77, 1, 0.99, 5) infinite;
}
.bootstrap {
    animation: tilting 1s cubic-bezier(0.37, 0, 0.63, 20) infinite;
}